$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import 'compass/css3';
@import 'sass-bootstrap/lib/bootstrap';
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//Colors:
$salmon: #d95f47;
$off-white: #fff2c1;
$lite-grn: #80A894;
$drk-grn: #106153;
$drk-blue: #072C36;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    float: right;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

//Start of my stylings:
.app-space{
    padding: 15px;
    background: $drk-grn;
    border: 1px solid $lite-grn;
    @include border-radius (6px);

    .list-header{
        text-align: center;
        background: $drk-blue;
        color: $lite-grn;
        font-size: 24px;
        border: none;
        margin-bottom: 10px;
        height: 60px;
        line-height: 60px;
        box-shadow: 0px 0px 1px;
        @include border-radius (6px);
    }

    .list-body{
        box-shadow: 1px 1px 2px;

        .input-group{
            border-bottom: 1px solid $drk-blue;

            input{
                height: 60px;
                font-size: 18px;
                background: $off-white;
                color: $drk-blue;
                border-bottom: none;
                border-right: 1px solid $drk-blue;
                @include border-radius (6px 0 0 0);
            }



            .add-btn{
                padding: 17px 16px 18px;
                background: $salmon;
                font-size: 18px;
                border: none;
                border-left: 1px solid $drk-blue;
                @include border-radius (0 6px 0 0);
            }
        }
        
        .list-item{
            font-size: 18px;
            background: $lite-grn;
            padding-top: 5px;
            border-top: 1px solid $drk-blue;
            height: 60px;
       
            &:first-child{
                border: none;
            }

            .item-description{
                width: 70%;
                display: inline-block;
                background: $lite-grn;
                color: $drk-blue;
                font-size: 18px;
                padding: 12px 10px;
            }

            .edit-description{
                    display: none;
                    position: absolute;
                    margin-top: -46px;
                    padding: 5px;
                    background: $off-white;
                    width: 61%;
                    @include border-radius(6px);
                
                .edit-input{
                    color: $drk-blue;
                    background: $off-white;
                    border: none;
                    box-shadow: none;
                    padding: 0 5px;
                    font-size: 16px;
                }
            }

            button{
                background: $drk-blue;
                color: $off-white;
                border: none;
                box-shadow: 1px 1px;
                
                .glyphicon-ok{
                    color: #3df221;
                }

                .glyphicon-pencil{
                    color: #ffdb11;
                }

                .glyphicon-remove{
                    color: red;
                }
            }

            &:last-child{
                @include border-radius(0 0 6px 6px);
            }

            .complete-item{
                display: none;
                background: rgba(50, 50,50,.2);
                width: 433px;
                height: 60px;
                position: absolute;
                margin-top: -5px;
            }

            &.completeClass{

                .item-description{   
                text-decoration: line-through;
                font-weight: 100;
                }

                .glyphicon-ok,
                .glyphicon-pencil,
                .glyphicon-remove{
                    color: $off-white;
                }

                 .glyphicon-ok:hover{
                    color: #3df221;
                }

                .glyphicon-pencil:hover{
                    color: #ffdb11;
                }

                .glyphicon-remove:hover{
                    color: red;
                }
            }
        }
               
    }
       
    .trackers {
        padding-top: 10px;

        .items-left,
        .options,
        .clear{
            display: inline-block;
        }

        .items-left{
            width: 90px;
            color: $off-white;
        }

        .options{
            width: 210px;
        }

        .options ul{
            list-style: none;
            padding: 5px 0;
            width: 201px;

            li{
                display: inline;

                button{
                    background: $salmon;
                    color: $drk-blue;
                    border: none;
                    box-shadow: 1px 1px;

                    .todo-active{
                        margin: 0 7px;
                    }
                }
            }    
        }

        .clear{
            margin-left: 11px;
            width: 123px;
            color: $off-white;

            &:hover {
                background: $drk-blue;
                @include border-radius (6px);
                padding: 3px;
                cursor: pointer;
            }
        }
    }  
}
